
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSS Layouts with Floats</title>
    <link rel="stylesheet" href="LayoutStyles1.css">
</head>

<body>
    <div class="container">
        <h1>Plan</h1>
        <nav><a href="index.html">Page 1</a> |
            <a href="Page2.html">Page 2</a> |
            <a href="Page3.html">Page 3 </a></nav>
        <img src="one.png" alt="Wireframe for web page">

    </div>
    <div class="container">
        <div class="header">
            <h1>Title<img src="image.png" alt="image.png" class="img"></h1>
            <nav>
                <a href="index.html">Page 1</a> |
                <a href="Page2.html">Page 2</a> |
                <a href="Page3.html">Page 3</a>
            </nav>
        </div>

        <div class="main">
            <p style="text-align:center; padding: 15px;">
                <img src="image.png" alt="Image Placeholder" style="width: 150px; height: 120px;">
                <img src="image.png" alt="Image Placeholder" style="width: 150px; height: 120px;">
                <img src="image.png" alt="Image Placeholder" style="width: 150px; height: 120px;">
                <img src="image.png" alt="Image Placeholder" style="width: 150px; height: 120px;">
            </p>
            <div class="text">
                <p>Molestias praesentium facere repellat, nostrum eum ipsa aliquid iure asperiores sapiente, enim nesciunt dolore possimus officiis provident tempore modi culpa autem voluptas perferendis amet doloremque, animi dolores at. Ad, id.</p>
                <p>Atque libero dolores maxime eos, voluptates delectus nesciunt, molestias. Illo quaerat aspernatur ducimus, dolorum earum, id error nostrum esse. Voluptatem exercitationem ratione expedita unde dignissimos quaerat, atque repellat commodi nisi.</p>
        </div>

        <div class="footer">
            <h2>footer</h2>
        </div>
    </div>

</body>

</html>