body {
    background: darkgrey;
    font-family: sans-serif;
}

nav {
    text-align: center;
}

.img {
    width: 10%;
    height: auto;
    float: right;
}

h1,
h2 {
    color: black;
    font-weight: 800;
    text-align: left;
}

.container {
    width: 960px;
    min-height: 600px;
    background: white;
    margin: 20px auto;
    border-radius: 5px;
}

.header {
    height: 120px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 5px;
}

.nav {
    height: 40px;
    width: 100%;
    background-color: mediumseagreen;
    border-radius: 10px;
}

.main {
    width: 100%;
    min-height: 410px;
    background-color: mediumorchid;
    border-radius: 5px;
}

.text {
    padding: 15px;
    font-size: 1.2em;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: dodgerblue;
    border-radius: 5px;
}
nav{text-align: center; padding: 5px}
    nav a {
        font-size: 1em;
        color: white;
        font-weight: 400;
        background: rgba(0, 0, 0, 1);
        text-decoration: none;
        padding: 7px 20px;
        margin: 10px 0px;
        border-radius: 5px; }
    nav a:hover {
        background: rgb(247, 247, 247);
        color: rgb(220, 20, 20); }